@import "../../../styles/variables";

.summary-item {
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
  }

  div {
    display: flex;
    justify-content: space-between;
    width: 110px;

    margin-right: 30px;
  }
}
