@import "../../../styles/variables.scss";

.summary-table-header {
  width: 100%;
  background-color: $black;
  margin-top: 20px;
  .summary-table-title {
    color: $white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid $white;
  }
  .summary-table-columns {
    padding: 5px 0;

    display: flex;
    align-items: center;
    color: $white;
    padding: 20px;
    justify-content: space-between;

    div {
      display: flex;
      gap: 50px;
    }
  }
}
